<section>
  <app-table>
    <app-row>
      <app-tile (swap)="swapTiles($event)" *ngFor="let tile of tiles.slice(0,3)" [tile]="tile"
        [className]="backgrounds[tile.currentStyle].className"></app-tile>
    </app-row>
    <app-row>
      <app-tile (swap)="swapTiles($event)" *ngFor="let tile of tiles.slice(3,6)" [tile]="tile"
        [className]="backgrounds[tile.currentStyle].className"></app-tile>
    </app-row>
    <app-row>
      <app-tile (swap)="swapTiles($event)" *ngFor="let tile of tiles.slice(6)" [tile]="tile"
        [className]="backgrounds[tile.currentStyle].className"></app-tile>
    </app-row>
  </app-table>
  <button (click)="shuffle()">New Game</button>
</section>